:root {
    
    --imgAvatar: \resources\avatar.png;
    
    --dark: dimgray;
    --middle:darkgray;
    --light: lightgray;
    --white: white;
    --blck: black;
    --red: red;
    --green: green;
    --blue: blue;
    --menuButtonColor: orange;
    --contBorderColor: black;

    --italic: italic;
    --bold: bold;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: var(--white);
  }

.contRounded{
    border-radius: 5px;
    margin: 5px;
    border-color: var(--contBorderColor);
    /* padding: 8px; */
}

.ulNoIdentate{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contAverageIndicator{
    background-color: var(--white);
    width: 80px;
    height: 80px;
    margin-left: 8px;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.contScrollBar{
    border-radius: 25px;
    padding: 2px;
    width: 5px;
}

.liNoItemMarked{
    list-style-type: none;
}

.contTitle{
    height: 15px;
    padding: 3px;
    display: flex;
    justify-content: row;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: var(--bold);
}

.contTitleDark{
    background-color: var(--dark);
    color: var(--white);
}

.contTitleLight{
    background-color: var(--light);
    color: var(--dark);
}

.contTitleDark, .contTitleLight{
    font-size:smaller;
}

.menuButton{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--menuButtonColor);
    margin: 3px;
    /* padding: 1px; */
}

.contIcon{
    width: 25%;
    height: 25%;
    background-color: var(--dark);
    padding: 3px;
}

.liOdd{
    background-color: var(--middle);
}

.idInput{
    width: 25px;
    height: 25px;
    border-width: 1px;
    border-color: var(--contBorderColor);
}

.contActivitiesItem{
    display: flex;
}

.contActivitiesItemId{
    background-color: var(--dark);
    color: var(--white);
    font-style: var(--bold);
    padding: 3px;
}

#contPersonalData{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#contAverageData{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#contAvatar{
    width: 100px;
    height: 100px;
    background-image: url(resources/avatar.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin-right: 8px;
}

#textNickname{
    font-style: var(--italic);
}

#contMain {
    background-color: var(--white);
    padding-top: 5px;
    padding-bottom: 5px;
    height:100%;
}

#contParameters{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contPlaned{
    color: var(--blue);
}

#contAvailable{
    color: var(--green);
}

#contItems {
    background-color:var(--middle);
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    max-height: 100%;
}

#contParameters, #contItemsView, #contTimeLine {
    background-color:var(--light);
    color: var(--dark);
}

#contItemsView{
    flex: 30%;
    max-width: 30%;
}

#bgScrollVerBar{
    background-color: var(--dark);
    margin-left: 3px;
}

#fgScrollVerBar{
    background-color: var(--middle);
    border-radius: 25px;
    padding: 3px;
    height: 10px;
}

#contTimeLine{
    flex: 70%;
    max-width: 70%;
    margin-left: 3px;
}

#contItemsTools{
    background-color: var(--dark);
    color: var(--light);
}

#contItemsList{
    background-color: var(--white);
}

#contInputData{
    display: flex;
    flex-direction: column;
}

#contInputDataItems{
    display: flex;
    justify-content:space-around;
}